* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.box {
    width: 100%;
    height: 100vh;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    color: #fff;
    font-size: 55px;
    font-family: cursive;
    text-transform: uppercase;
}